.form
    background-color: #60a3bc
    padding: 10px
    width: 450px
    display: block
    margin: 10px auto

.form__input
    display: block
    margin: 10px auto
    border: none
    height: 30px
    padding: 5px
    border-radius: 5px

.form__input_submit
    background-color: #3c6382
    color: white


.error-message
    visibility: hidden
    color: #ED4C67
    font-size: 18px
    text-align: center
.redirect-link
    color: white
    text-align: center
    display: block
    margin: 0 auto
    &:visited
        color: white
    &:hover
        color: #82ccdd

.form-container
    display: block
    width: 600px
    height: 275px
    margin: 0 auto
    background-color: #0a3d62